<%= extends :project_setup_sidebar do%>
    <%= area :project_comments_index do%>
        <div class="col-md-9">

            <div class="panel panel-sea margin-bottom-40">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> Comments list</h3>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Content</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @project.comments.each do |comment| %>
                  <tr>
                    <td><%= comment.created_at.to_date%></td>
                    <td><%= comment.username %></td>
                    <td><%= comment.content %></td>
                    <td><%= link_to '', edit_project_comment_path(@project, comment),class: 'btn fa fa-reply' %></td>
                    <td><i class="fa fa-trash-o"></i></td>
                  </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <%= link_to 'New comment', new_project_comment_path(@project), class: 'btn-u' %>
        </div>    <!--End Basic Table-->
    <% end %>
<% end %>