<%= extends :project_setup_sidebar do%>
    <%= area :project_comments_index do%>
        <% @project.comments.each do |comment| %>
            <div class="col-md-9">
                <dl class="dl-horizontal">
                  <dt><strong><%= comment.username %></strong></dt>
                  <dd>
                    <%= comment.content %>
                    <span>
                  <%= link_to project_comment_path(@project, comment) do %>
                              <%= content_tag(:i, '', class: 'fa fa-pencil') %>
                  <% end%>
                </span>
                  </dd>
                  <hr>
                </dl>
            </div>
        <% end %>

    <% end %>
<% end %>