<h1>Listing comments</h1>

<table class="table table-hover">

  <thead>
  <tr>
    <th>User</th>
    <th>Comment</th>
    <th>Actions</th>
  </tr>



  </thead>

  <tbody>
    <% @project.comments.each do |comment| %>
    <tr>
      <td><%= comment.username %></td>

      <td><%= comment.content %></td>

      <td class="list_actions">
        <td><%= link_to 'Show', project_comment_path(@project, comment) %></td>
        <td><%= link_to 'Destroy', project_comment_path(@project, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_project_comment_path %> |
<%= link_to 'Back', projects_path %>
