<%= extends :project_setup_sidebar do%>
    <%= area :project_reward do%>
        <div class="col-md-9" xmlns="http://www.w3.org/1999/html">

          <%= form_for([@project, @reward], html: { method: :post, class: 'sky-form'  }) do |f|  %>
              <header>Reward</header>
              <fieldset>
                <dl class="dl-horizontal">
                      <dt>Name</dt>
                      <dd>
                        <section>
                          <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <%= f.text_field :name, class: "form-control",autofocus: true %>
                          </label>
                        </section>
                      </dd>

                    <dt>Price</dt>
                    <dd>
                      <section>
                        <label class="input">
                          <i class="icon-append fa fa-user"></i>
                          <%= f.text_field :amount, class: "form-control",autofocus: true %>
                        </label>
                      </section>
                    </dd>

                      <dt>Maximun backers</dt>
                      <dd>
                        <section>
                          <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <%= f.text_field :maximum_backers , class: "form-control",autofocus: true %>
                          </label>
                        </section>
                      </dd>

                        <dt>Description</dt>
                        <dd>
                          <section>
                            <label class="input">
                              <i class="icon-append fa fa-user"></i>
                              <%= f.text_field :description , class: "form-control",autofocus: true %>
                            </label>
                          </section>
                        </dd>

                      <dt>Estimated delivery</dt>
                      <dd>
                        <section>
                          <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="date">
                            <%= f.text_field :estimated_delivery_at, class:'hasDatepicker' ,autofocus: true %>
                          </label>
                        </section>
                      </dd>

                  <fieldset>
                    <label class="label">Select date range</label>
                    <div class="row">
                      <section class="col col-6">
                        <label class="input">
                          <i class="icon-append fa fa-calendar"></i>
                          <input type="text" name="start" id="start" placeholder="Start date">
                        </label>
                      </section>
                      <section class="col col-6">
                        <label class="input">
                          <i class="icon-append fa fa-calendar"></i>
                          <input type="text" name="finish" id="finish" placeholder="Expected finish date">
                        </label>
                      </section>
                    </div>
                  </fieldset>
                </dl>

                        <br>

                        <button class="btn-u" type="submit">Save</button>

              </fieldset>
          <% end %>
        </div>

    <% end %>
<% end %>
