<%= form_for([@project, @reward]) do |f| %>
    <% if @reward.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

          <ul>
            <% @reward.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
    </div>
    <div class="field">
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :price %>
    </div>
    <div class="field">
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :maximum_backers %>
    </div>
    <div class="field">
      <%= f.text_field :maximum_backers %>
    </div>
    <div class="field">
      <%= f.label :description %>
    </div>
    <div class="field">
      <%= f.text_field :description %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
