<%= extends :project_setup_sidebar do%>
    <%= area :project_rewards_index do%>
        <div class="col-md-9">

          <div class="panel panel-sea margin-bottom-40">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-edit"></i> Rewards list</h3>
            </div>
            <div class="panel-body">
              <table class="table">
                <thead>
                <tr>
                  <th>Reward</th>
                  <th>Price</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <% @project.rewards.each do |reward| %>
                    <tr>
                      <td><%= reward.name %></td>
                      <td><%= reward.price %></td>
                      <td><%= link_to '', edit_project_reward_path(@project, reward), class: 'btn fa fa-pencil' %></td>
                      <td><i class="fa fa-trash-o"></i></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <%= link_to 'New Reward', new_project_reward_path, class: 'btn-u' %>
        </div>    <!--End Basic Table-->

    <% end %>
<% end %>


