<%= form_for([@project, @page]) do |f| %>
    <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
            <% @page.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.cktext_area :content, :rows => 20, :ckeditor => {:toolbar => "mini"} %>
    </div>

    <div class="actions">
      <%= f.submit :class=>"btn btn-default" %>
    </div>

<% end %>
