<%= extends :project_setup_sidebar do%>
    <%= area :project_updates_index do%>
        <div class="col-md-9">

          <div class="panel panel-sea margin-bottom-40">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-edit"></i> Update list</h3>
            </div>
            <div class="panel-body">
              <table class="table">
                <thead>
                <tr>
                  <th>Created at</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <% @project.pages.updatepage.each do |page| %>
                    <tr>
                      <td><%= page.created_at %></td>
                      <td><%= link_to '', edit_project_page_path(@project, page),class: 'btn fa fa-pencil' %></td>
                      <td><i class="fa fa-trash-o"></i></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <%= link_to 'New Update', new_project_page_path, class: 'btn-u' %>
        </div>    <!--End Basic Table-->

    <% end %>
<% end %>
