<%= extends :project_setup_sidebar do%>
    <%= area :project_profile do%>
       <div class="col-md-9">

          <%= form_for(@project, html: { method: :put, class: 'sky-form'  }) do |f|  %>
             <header>Project profile</header>
             <fieldset>
                  <dl class="dl-horizontal">
                    <dt>Project name</dt>
                    <dd>
                      <section>
                        <label class="input">
                          <i class="icon-append fa fa-user"></i>
                          <%= f.text_field :name, class: "form-control",autofocus: true %>
                        </label>
                      </section>
                    </dd>

                    <dt>Project description</dt>
                    <dd>
                      <section>
                        <label class="textarea">
                          <i class="icon-prepend fa fa-comment"></i>
                          <%= f.text_area :description, class: 'form-control', placeholder: 'Put description here'%>
                        </label>
                      </section>
                    </dd>
                    <dt>Short image</dt>
                    <dd>
                      <section>
                        <label class="input">
                          <i class="icon-append fa fa-phone"></i>
                          <%= f.text_field :short_image, class: 'form-control'%>
                        </label>
                      </section>
                    </dd>

                    <dt>Image url</dt>
                    <dd>
                      <section>
                        <label class="input">
                          <i class="icon-append fa fa-automobile"></i>
                          <%= f.text_field :image_url, class: 'form-control'%>
                        </label>
                      </section>
                    </dd>

                    <dt>Video url</dt>
                    <dd>
                      <section>
                        <label class="input">
                          <i class="icon-append fa fa-building"></i>
                          <%= f.text_field :video_url, class: 'form-control'%>
                        </label>
                      </section>
                    </dd>

                    <dt>Goal</dt>
                    <dd>
                      <section>
                        <label class="input">
                          <i class="icon-append fa fa-plane"></i>
                          <%= f.text_field :goal, class: 'form-control'%>
                        </label>
                      </section>
                    </dd>

                    <dt>Category</dt>
                    <dd>
                      <section>
                        <label class="select">
                          <%= f.fields_for :categories do |a| %>
                              <%= a.collection_select(:id, Category.all, :id, :name) %>
                          <% end %>
                        </label>
                      </section>

                    </dd>

                    <dt>Project type</dt>
                    <dd>
                      <section>
                        <div class="inline-group">
                          <label class="radio"><%= f.check_box :aol, class: 'rounded-x'%><i class="rounded-x"></i>All-or-Nathing (AON)</label>
                          <label class="radio"><%= f.check_box :kia, class: 'rounded-x'%><i class="rounded-x"></i>Keep-it-All (KIA)</label>
                        </div>
                      </section>
                    </dd>
                  </dl>

                  <br>

                  <button class="btn-u" type="submit">Save Changes</button>

             </fieldset>
          <% end %>
     </div>

  <% end %>
<% end %>

