<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1>Listing projects</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>   </th>
    <th>Name</th>
    <th>Desc</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><img class="img-responsive" src="<%= image_url(project.short_image, class: 'list_image')%>"  alt="Imagen"></td>
        <td><%= project.name %></td>
        <td><%= sanitize(truncate(strip_tags(project.description), length: 20)) %></td>

        <td class="list_actions">

          <% if user_signed_in? && project.user_id == current_user.id %>

              <%= link_to 'Profile',    edit_project_path(project), :class => 'btn btn-mini'%>
              <%= link_to 'Story',      edit_project_page_path(project, 'home'), :class => 'btn btn-mini'%>
              <%= link_to 'Updates',    project_pages_path(project), :class => 'btn btn-mini'%>
              <%= link_to 'Comments',   project_comments_path(project), class: 'btn btn-mini' %>
              <%= link_to 'Rewards',    project_rewards_path(project), :class => 'btn btn-mini'%>
              <%= link_to 'Show project', project , :class => 'btn btn-mini' %>
              <div>
                <%= link_to 'Delete Project', project, method: :delete,  data: { confirm: 'Are you sure?' },:class => 'btn btn-mini btn-danger' %>
              </div>

          <% end %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path, :class => 'btn btn-primary'  %>
