


        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
          <div class="container">
            <h1 class="pull-left">Login</h1>
            <ul class="pull-right breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li><a href="">Pages</a></li>
              <li class="active">Login</li>
            </ul>
          </div><!--/container-->
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <!--=== Content Part ===-->
        <div class="container">
          <!--Reg Block-->
          <div class="reg-block">
            <div class="reg-block-header">
              <h2>Sign In</h2>
              <ul class="social-icons text-center">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
              </ul>
              <p>Don't Have Account? Click <%= link_to "Sign up", new_registration_path(resource_name), class: 'color-green' %> to registration.</p>
            </div>

            <div class="input-group margin-bottom-20">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <%= f.text_field :signin, :autofocus => true, class: "form-control",placeholder: 'Username or Email' %>
            </div>
            <div class="input-group margin-bottom-20">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <%= f.password_field :password, autocomplete: "off", class: "form-control",placeholder: 'Password' %>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-6 checkbox">
                 <label>
                  <%= f.check_box :remember_me %>
                  Stay signed in
                </label>
              </div>
              <div class="col-md-6">
                <button class="btn-u pull-right" type="submit">Login</button>
              </div>
            </div>
            <p>
              no worries,
              <%= link_to 'click here', new_password_path(resource_name) %>

              to reset your password.
            </p>

          </div>
          <!--End Reg Block-->
        </div><!--/container-->
        <!--=== End Content Part ===-->

        <% end %>





