<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html lang="en">
<head>
  <title>Unify - Responsive Website Template</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">




  <!-- Custom styles for this template -->
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
  <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body>
<div class="wrapper">

  <!--=== Header ===-->
 <div class="header">
      <div class="container">
          <!-- Logo -->
          <a class="logo">
            <%= image_tag('logo1-default.png', :alt => 'Logo') %>
          </a>
          <!-- End Logo -->
          <!-- Topbar -->
          <div class="topbar">
            <ul class="loginbar pull-right">
              <li class="hoverSelector">
                <i class="fa fa-globe"></i>
                <a>Languages</a>
                <ul class="languages hoverSelectorBlock">
                  <li class="active">
                    <a href="#">English <i class="fa fa-check"></i></a>
                  </li>
                  <li><a href="#">Spanish</a></li>
                  <li><a href="#">Russian</a></li>
                  <li><a href="#">German</a></li>
                </ul>
              </li>
              <li class="topbar-devider"></li>
              <li><a href="page_faq.html">Help</a></li>
              <li class="topbar-devider"></li>

              <% if current_user %>
                  <div>
                    Hello, <span class="text-gray"><%= current_user.email %></span>
                  </div>
                  <div class="smaller">
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                  </div>
              <% else %>
                  <%= link_to "LOGIN", new_user_session_path %> |
                  <%= link_to "REGISTER", new_user_registration_path %>
              <% end %>



            </ul>
          </div>
          <!-- End Topbar -->
          <!-- Toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <!-- End Toggle -->
      </div><!-- End Container -->

      <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
          <div class="container">
            <ul class="nav navbar-nav">

              <li class="dropdown active">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                  Home
                </a>
                <ul class="dropdown-menu">
                  <li class="active"><a>Option 1: Default Page</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                  Pages
                </a>
                <ul class="dropdown-menu">
                  <!-- About Pages -->
                  <li class="dropdown-submenu">
                    <a href="javascript:void(0);">About Pages</a>
                    <ul class="dropdown-menu">
                      <li><a href="page_about2.html">About Us </a></li>
                      <li><a href="page_about3.html">About Us 1</a></li>
                    </ul>
                  </li>
                  <!-- End About Pages -->
                </ul>
              </li>

              <!-- Blog -->
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                  Blog
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Blog Large Image</a>
                    <ul class="dropdown-menu">
                      <li><a href="blog_large_right_sidebar1.html">Right Sidebar</a></li>
                      <li><a href="blog_large_left_sidebar1.html">Left Sidebar</a></li>
                      <li><a href="blog_large_full_width1.html">Full Width</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- END Blog -->

              <!-- Search Block -->
              <li>
                <i class="search fa fa-search search-btn"></i>
                <div class="search-open">
                  <div class="input-group animated fadeInDown">
                    <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                  </div>
                </div>
              </li>
              <!-- End Search Block -->


            </ul>
          </div>
        </div>
 </div>
  <!--=== End Header ===-->

  <!--=== Slider ===-->
  <div >
    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
        <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
        <div class="da-img">
          <%= image_tag('1.png', class: 'img-responsive') %>
        </div>
      </div>
      <div class="da-slide">
        <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
        <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
        <div class="da-img">
          <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0"   allowFullScreen></iframe>
        </div>
      </div>
      <div class="da-slide">
        <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
        <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
        <div class="da-img">
          <%= image_tag('html5andcss3.png', class: 'img-responsive', alt: 'image01' ) %>
        </div>
      </div>
      <div class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </div>
    </div>
  </div><!--/slider-->
  <!--=== End Slider ===-->

    <div class="container">

          <section id="navproject">
            <%= yield :navproject %>
          </section>

          <%= yield %>


        <section id="list_project">
          <%= yield :list_project %>
        </section>



            <section id="rewardsidebar">
              <%= yield :rewardsidebar %>
            </section>

      <section id="select_reward">
        <%= yield :reward_selected %>
      </section>





  </div>
    <!-- /.container -->

  <!--=== Footer Version 1 ===-->
  <div class="footer-v1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- About -->
          <div class="col-md-3 md-margin-bottom-40">
            <%= image_tag('logo2-default.png', class: 'footer-logo') %>

            <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
            <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>
          </div><!--/col-md-3-->
          <!-- End About -->

          <!-- Latest -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="posts">
              <div class="headline"><h2>Latest Posts</h2></div>
              <ul class="list-unstyled latest-list">
                <li>
                  <a href="#">Incredible content</a>
                  <small>May 8, 2014</small>
                </li>
                <li>
                  <a href="#">Best shoots</a>
                  <small>June 23, 2014</small>
                </li>
                <li>
                  <a href="#">New Terms and Conditions</a>
                  <small>September 15, 2014</small>
                </li>
              </ul>
            </div>
          </div><!--/col-md-3-->
          <!-- End Latest -->

          <!-- Link List -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="headline"><h2>Useful Links</h2></div>
            <ul class="list-unstyled link-list">
              <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
            </ul>
          </div><!--/col-md-3-->
          <!-- End Link List -->

          <!-- Address -->
          <div class="col-md-3 map-img md-margin-bottom-40">
            <div class="headline"><h2>Contact Us</h2></div>
            <address class="md-margin-bottom-40">
              25, Lorem Lis Street, Orange <br />
              California, US <br />
              Phone: 800 123 3456 <br />
              Fax: 800 123 3456 <br />
              Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
            </address>
          </div><!--/col-md-3-->
          <!-- End Address -->
        </div>
      </div>
    </div><!--/footer-->

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              2015 &copy; All Rights Reserved.
              <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
            </p>
          </div>

          <!-- Social Links -->
          <div class="col-md-6">
            <ul class="footer-socials list-inline">
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social Links -->
        </div>
      </div>
    </div><!--/copyright-->
  </div>
  <!--=== End Footer Version 1 ===-->


</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
        ParallaxSlider.initParallaxSlider();
    });
</script>
<script type="text/javascript">
    $.backstretch([
        "assets/img/bg/19.jpg",
        "assets/img/bg/18.jpg",
    ], {
        fade: 1000,
        duration: 7000
    });
</script>
</body>
</html>

